\
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title> Node Site | Thanks</title>
    

    <meta name="author" content="oshell" />
    <!-- @TODO: 자기 이름을 작성하십시오 -->

    <!-- @TODO: CSS 파일에 대한 link테그를 완성하십시오 -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Compiled: https://codepen.io/fionnachan/pen/EvaqOB -->
    <link rel="stylesheet" href="css/confetti.css" />
    <link
      rel="stylesheet"
      media="(max-width: 768px)"
      href="css/style.small.css"
    />

    <!-- @TODO: -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <!-- @TODO: JS 파일에 대한 script테그를 완성하십시오 -->
    <script defer src="js/functions.js"></script>
  </head>
  <body>
    <%- include('partials/header') %><%- include('partials/nav') %> <%- body %><%- include('partials/footer')
    %>

    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
